@import "tailwindcss";
@theme {
  --font-title:"Yeseva One";
  --color-Primary:#1F2B6C;
  --color-Secondary:#159EEC;
  --color-Accent:#BFD2F8;
  --color-Black:#212124;
  --color-white:#FCFEFE;
}
html{
  scroll-behavior: smooth;
}
.aa{
  background-image: url(/bghome.jpg);
  background-size: cover;
}
.ss{
  background-image: url(/bghome2.jpg);
  background-size: cover;
}
.dd{
  background-image: url(/bgabout.jpg);
  background-size: cover;
}
.ff{
  background-image: url(/bgabout2.jpg);
  background-size: cover;
}
.gg{
  background-image: url(/bgServices1.jpg);
  background-size: cover;
}
.hh{
  background-image: url(/bgsingle.jpg);
  background-size: cover;
}
.jj{
  background-image: url(/bg.jpg);
  background-size: cover;
}